.item-icon:hover {
  fill: #ff751d;

  .item {
    background-color: blue;
  }
}

.item-icon:focus {
  fill: #ff751d;

  .item {
    background-color: blue;
  }
}

/* .item-icon:hover ~ .item {
  background-color: blue;
}

.item-icon:focus ~ .item {
  background-color: blue;
} */
